.icc {
    cursor: pointer;
    font-size: 23px;
    color: red;
}

.btn {
    background-color: white;
    border: none;
    font-size: 20px;
}

.titlePrice {
    display: flex;
    flex-direction: column;
}

tbody td {
    width: 100px;
}

/* .div1 {
    margin-bottom: 7%;
} */
