
.ContactContainer {
  margin-top: 6vw;
}

.info_bloc {
  display: flex;
  justify-content: space-around;
  margin-top: 3vw;
  
}

.inp {
  width: 30vw;
  margin-top: 3vw;
  height: 2vw;
  outline-color: darkturquoise;
  height: 3vw;
  margin-left: 30vw;
  border: 1px solid rgba(0, 0, 0, 0.172);
}

.textarea_message {
  outline-color: darkturquoise;
  height: 11vw;
  width: 30vw;
  margin-top: 3vw;
  border: 1px solid rgba(0, 0, 0, 0.172);
  margin-left: 30vw;
}

.send {
  cursor: pointer;
  margin-top: 1.1vw;
  border-radius: 5vw;
  border: none;
  background-color: rgba(0, 157, 255, 0.327);
  margin-left: 30vw;
  margin-bottom: 1wv;
}
.send:hover {
  margin-top: 1.3vw;
  border-radius: 5vw;
  border: none;
  background-color: rgba(0, 157, 255, 0.896);
  cursor: pointer;
  color: white;
  margin-left: 30vw;
}
 .text {
  position: absolute;
  margin-top: 1.5vw;
  margin-left: 30vw;
  width: 40%;
 }


.error {
  position: absolute;
  margin-top: 1.5vw;
  margin-left: 47vw;
  color: red;
  width: 24%;
}



