.admin_page {
  width: 100%;
  margin: 40px;
  margin-top: 7.5vw;
  padding: 0;
  display: flex;
}

.admin_page_content {
  width: 100%;
}
.mainNovost {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.divNovost {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.createImage {
  height: 80px;
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  margin-bottom: 40px;
}

.divImg {
  margin-top: 40px;
  margin-bottom: 40px;
}
.modal-content {
  width: 90% !important;
}

.img2 {
  margin-top: 56%;
  margin-bottom: 10%;
  width: 180px;
  height: 100px;
  margin-left: 5%;
}

.img1 {
  width: 110px;
  height: 95px;
  padding: 0;
  cursor: pointer;
}
.input_block {
  margin-top: 120px;
  width: 30%;
}

.addDiv {
  padding-left: 10%;
  display: flex;
  align-items: center;
  margin-top: 15%;
}

.add {
  font-size: 1.2em;
  margin-left: 5%;
  width: 50%;
}

.polzovatel {
  text-align: center;
}
.polzovatel a {
  text-decoration: none;
  color: black;
}

.mainUser {
  width: 70%;
}
.loginDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2%;
}

.loginDiv div {
  width: 15%;
}

.btn {
  color: white;
  border-radius: 3px;
  background-color: #3695eb;
  border: none;
}

.addService {
  margin-left: 5%;
  width: 80%;
}

.addService button {
  width: 50%;
  margin-bottom: 1%;
  color: white;
  border-radius: 3px;
  background-color: #3695eb;
  border: none;
}
