.admin_page {
    width: 100%;
    margin: 40px;
    margin-top: 5vw;
    padding: 0;
    display: flex;
  }
  
  .admin_page_content {
    width: 100%;
  }
  
  .mainNovost {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
  } 
  
   .divNovost {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  
  .createImage {
    height: 80px;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    margin-bottom: 40px;
  } 
  
  .divImg {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .img2 {
    margin-top: 45%;
    margin-bottom: 10%;
    width: 280px;
    height: 250px;
    margin-left: 20%;
    border-radius: 50%;
  }
  
  .img1 {
    width: 280px;
    height: 250px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
  }
  .input_block {
    margin-top: 150px;
    width: 30%;
    margin-left: 1%;
  } 
  
  .addDiv {
    padding-left: 25%;
    display: flex;
    align-items: center;
    margin-top: 35%;
  }
  
  .add {
    font-size: 1.2em;
    margin-left: 5%;
    width: 50%;
  }
  
  .polzovatel {
    text-align: center;
  }
  .polzovatel a {
    text-decoration: none;
    color: black;
  }
  
  .mainUser {
    width: 50%;
    /* text-align: center; */
  }
  h1 {
    text-align: center;
    margin-bottom: 2%;
  }
  .loginDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2%;
  }
  
  .loginDiv div {
    width: 15%;
  }
  
  .btn {
    color: white;
    width: 34%;
    height: 30px;
    border-radius: 5px;
    background-color: #3695eb;
    border: none;
  }
  
  .addService {
    padding-top: 4%;
    margin-left: 5%;
    width: 80%;
  }
  
  .addService button {
    width: 50%;
    margin-bottom: 10%;
    color: white;
    border-radius: 3px;
    background-color: #3695eb;
    border: none;
  }
  
  .prof {
    font-size: 24px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .hr_doctor {
    margin-left: -9%;
  }

  .users {
    margin-top: 4vw;
    background-color: black;
    color: white;
  }

  .loginDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2%;
    padding: 0 1vw 1vw 1vw;
  }

  .loginDiv div {
    width: 15%;
  }

  .pacientConteyner {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 9vw;
    position: absolute;
  }

  .btnDelAppoint {
    background: transparent;
    border: none;
}
