.btn {
    border: 3px solid #3695EB;
    background: transparent;
    border-radius: 20px;
    padding: 8px 15px;
    color: #3695EB;
    margin: 0 10px 10px 10px;
}

.btn:hover {
    background: #3695EB;
    color: white;
}

span {
    font-weight: bold;
}

h2 {
    text-align: center;
    color: #3695EB;
    padding: 20px 0 10px 0;
}

.btnDelAppoint {
    background: transparent;
    border: none;
}

.text_align {
    text-align: center;
}