.shop {
  background: #edf0f2;
}

.sortBlock {
  font-size: 15px;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 62vw;
  text-align: center;
}

.select {
  width: 18vw;
  height: 36px;
  background: #fff;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  border: 1px solid #2ad1c5;
  border-radius: 24px;
  padding: 5px 13px 6px 13px;
  outline: none;
  cursor: pointer;
  background-color: transparent !important;
  background-image: url("https://planetazdorovo.ru/pics/i/icon-toggle.svg");
  background-position: center right;
  background-repeat: no-repeat;
  appearance: none !important;
  text-indent: 0.01px;
}

h1 {
  font-size: 36px;
  font-family: "Gilroy", arial, tahoma;
  font-weight: 600;
}

.priceTitle {
  position: relative;
  font-weight: 700;
  padding: 14px 0 12px;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.filterPrice input {
  display: block;
  width: 5vw;
  height: 36px;
  padding-left: 15px;
  background: #fff;
  background-image: none;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  border: 1px solid #2ad1c5;
  border-radius: 24px;
}

.aptekaInputs_off {
  display: none;
  flex-direction: column;
  transform: scale(1);
  transition: 1.5s;
}

.aptekaInputs_on {
  display: flex;
  flex-direction: column;
  transform: scale(1.5);
  width: 3vw;
  margin-top: 2vw;
  margin-bottom: 1.5vw;
  transition: 1.5s;
}

.filterBlock {
  background-color: #fff;
  border-radius: 5px;
  width: 20vw;
  margin-top: 5vw;
  padding: 18px 5px 20px 10px;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  transition: 1s;
}

.priceInputs_off {
  display: none;
  flex-direction: column;
  transform: scale(1);
  transition: 1.5s;
}

.priceInputs_on {
  display: flex;
  flex-direction: column;
  transform: scale(1.5);
  width: 3vw;
  margin-top: 2vw;
  margin-bottom: 1.5vw;
  transition: 1.5s;
}